<div id="<%= dom_id question %>">
  <p>
    <strong>Name:</strong>
    <%= question.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= question.content %>
  </p>

</div>
